<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chest</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string>Flat bench press</string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
		<key>1</key>
		<dict>
			<key>exerciseName</key>
			<string>Incline bench press</string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>exerciseName</key>
			<string>Decline bench press</string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>exerciseName</key>
			<string>Cross cable flies</string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>exerciseName</key>
			<string>Dumbell flat bench press</string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Back</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Shoulder</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Biceps</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Abs</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Triceps</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Legs</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Glutes</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
	<key>Calves</key>
	<dict>
		<key>0</key>
		<dict>
			<key>exerciseName</key>
			<string></string>
			<key>Sets</key>
			<string></string>
			<key>reps</key>
			<string></string>
			<key>max</key>
			<string></string>
			<key>maxReps</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
